[defaults]
inventory             = inventory/hosts.ini
deprecation_warnings  = False
command_warnings      = False
system_warnings       = False
interpreter_python    = auto_silent

[privilege_escalation]
become        = True
become_method = sudo
